*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --font-size: calc(10px + 2vmin);
  --border-radius: 0.5rem;
}

.App {
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  transition: 0.25s;
}

button {
  font-size: inherit;
}

.btn-row {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.btn {
  padding: 0.45em 0.75em;
  border-radius: var(--border-radius);
  border-style: solid;
}

.btn,
.input {
  opacity: 0.9;
}

.input {
  padding: 0.25rem;
  font: inherit;
  border-radius: var(--border-radius);
  border-style: solid;
}

.btn:hover,
.btn:focus,
.input:hover,
.input:focus {
  opacity: 1;
}

.btn:active {
  opacity: 0.75;
}

.btn:disabled {
  opacity: 0.5;
}
